<!DOCTYPE doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <title>Campionato Nazionale GF ACSI Ciclismo
        </title>
        <meta content="" name="description">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link href="styles/main.css" rel="stylesheet"/>
        <link href="styles/table_responsive.css" rel="stylesheet"/>
        <link href="styles/sb-admin-2.css" rel="stylesheet"/>
        <!-- endbuild -->
    </head>
    <body ng-app="campionatoAcsi" ng-controller="NavbarCtrl as ctrl" ng-init="ctrl.init()">
        <!-- Add your site or application content here -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <a class="navbar-brand" href="" ng-click="ctrl.changeState('home')">
                        <img alt="ACSI Ciclismo" src="images/logo_ciclismo_web.png">
                        </img>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbar3">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="uppercase" href="" ng-click="ctrl.changeState('home')" data-target=".navbar-collapse.in" data-toggle="collapse">
                                AVVISI
                            </a>
                        </li>
                        <li>
                            <a class="uppercase" href="" ng-click="ctrl.changeState('calendario')" data-target=".navbar-collapse.in" data-toggle="collapse">
                                CALENDARIO
                            </a>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="" role="button">
                                CLASSIFICHE
                                <span class="caret">
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                 <li class="dropdown-header">Granfondo</li>
                                <li>
                                    <a href="" ng-click="ctrl.changeState('granfondo','categorie')" data-target=".navbar-collapse.in" data-toggle="collapse">
                                        Atleti
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="" ng-click="ctrl.changeState('granfondo','societa')" data-target=".navbar-collapse.in" data-toggle="collapse">
                                        Team
                                    </a>
                                </li>
                                 <li class="divider"></li>
                                    <li class="dropdown-header">Mediofondo</li>
                                <li>
                                    <a href="" ng-click="ctrl.changeState('mediofondo','categorie')" data-target=".navbar-collapse.in" data-toggle="collapse">
                                        Atleti
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="" ng-click="ctrl.changeState('mediofondo','societa')" data-target=".navbar-collapse.in" data-toggle="collapse">
                                        Team
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="hidden-sm hidden-xs lead navbar-left navbar-text titolo-navbar">
                        Campionato Nazionale GF-MF 2018
                    </p>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <div id="page-wrapper">
            <div ui-view="content">
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-xs-5">
                        <span aria-hidden="true" class="glyphicon glyphicon-wrench">
                        </span>
                        Credits
                            A. Schiazza | M. Calzetta
                    </div>
                    <div class="col-lg-6 col-md-7 col-xs-7">
                        <span aria-hidden="true" class="glyphicon glyphicon-info-sign">
                        </span>
                        Info e segnalazioni: antonio.schiazza@gmail.com
                    </div>
                </div>
            </div>
        </div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-7850351-10', 'auto');
              ga('send', 'pageview');

            </script>
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_it-it.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- include: "type": "js", "files": ["scripts/modules/*.js"] -->
        <script src="/scripts/modules/app.js"></script>
        <script src="/scripts/modules/route.js"></script>
        <!-- /include -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/controllers.js -->
        <!-- include: "type": "js", "files": ["scripts/controllers/*.js"] -->
        <script src="/scripts/controllers/rankingAtletiController.js"></script>
        <script src="/scripts/controllers/rankingTeamController.js"></script>
        <script src="/scripts/controllers/mainController.js"></script>
        <script src="/scripts/controllers/navbarController.js"></script>
        <script src="/scripts/controllers/calendarioController.js"></script>
        <!-- /include -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/factories.js -->
        <!-- include: "type": "js", "files": ["scripts/factories/*.js"] -->
        <script src="/scripts/factories/loadFactory.js"></script>
        <!-- /include -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/filters.js -->
        <!-- include: "type": "js", "files": ["scripts/filters/*.js"] -->
        <script src="/scripts/filters/filterCalendario.js"></script>
        <!-- /include -->
        <!-- build:js({.tmp,app}) scripts/directives.js -->
        <!-- include: "type": "js", "files": ["scripts/directives/*.js"] -->
        <script src="scripts/directives/dettagliopiazzamento.js"></script>
        <!-- /include -->
        <!-- endbuild -->
    </body>
</html>