<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="alert alert-warning">
            <h4>
                <i class="fa fa-warning " style="margin-right:5px;">
                </i>
                Punteggio bonus prove cicloturistiche
            </h4>
            Per le prove CICLOTURISTICHE, ovvero 
            <ul>
                <li>GF del Mare (17 Aprile)</li>
                <li>GF Terre dei Varano (11 Giungo)</li>
                <li>GF Sibillini (16 Luglio)</li>
            </ul>
            data l'assenza di classifica agonistica saranno assegnati punti bonus per tutti i partecipanti.
            Nello specifico 25 punti bonus validi per la classifica di Mediofondo, 50 punti bonus validi per la classifica di Granfondo.
        </div>
        <div class="alert alert-success" style="height: auto;">
            <h4>
                <i class="fa fa-info " style="margin-right:5px;">
                </i>
                NEWSLETTER Attività di Fondo ACSI Ciclismo
            </h4>
            Iscriviti alla newsletter del Campionato Nazionale Fondo ACSI Ciclismo per rimanere aggiornato sulle ultime novità e comunicazioni.
            <br/>
            Le informazioni inserite saranno utilizzate al solo scopo informativo su notizie e comunicazioni riguardanti il Campionato Nazionale Fondo ACSI Ciclismo.
            <br/>
            <br/>
            <a class="btn btn-primary center-block" href="http://eepurl.com/7Xnbj" role="button" target="_blank">
                Iscriviti alla newsletter
            </a>
        </div>
        <!--<div class="alert alert-warning">
                            <i class="fa fa-warning " style="margin-right:5px;">
                            </i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>


                        <div class="alert alert-danger">
                            <i class="fa fa-warning" style="margin-right:5px;">
                            </i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>-->
    </div>
</div>
