<div class="row">
    <div class="col-lg-10 col-md-12 col-xs-12 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-list-alt fa-fw" style="margin-right:5px;">
                </i>
                Avvisi
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" ng-include src="'data/avvisi.html?a=a'">
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>