<div class="row">
    <div class="col-lg-10 col-md-12 col-xs-12 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-list-alt fa-fw" style="margin-right:5px;">
                </i>
                Avvisi
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="alert alert-success" style="height: auto;">
                            <h4><i class="fa fa-info " style="margin-right:5px;"></i>NEWSLETTER Attività di Fondo ACSI Ciclismo</h4>
                            Iscriviti alla newsletter del Campionato Nazionale Fondo ACSI Ciclismo per rimanere aggiornato sulle ultime novità e comunicazioni.                         
                            <br/>
                            Le informazioni inserite saranno utilizzate al solo scopo informativo su notizie e comunicazioni riguardanti il Campionato Nazionale Fondo ACSI Ciclismo. 
                            <br/><br/>
                            <a href="http://eepurl.com/7Xnbj" class="btn btn-primary center-block" role="button" target="_blank">Iscriviti alla newsletter</a>                          
                            
                    </div>

                        <!--<div class="alert alert-warning">
                            <i class="fa fa-warning " style="margin-right:5px;">
                            </i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>


                        <div class="alert alert-danger">
                            <i class="fa fa-warning" style="margin-right:5px;">
                            </i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>